* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.card {
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 4px 1px 124px -43px #000000;
    transition: all 0.5s ease;
    /* snow */
    /* background: linear-gradient(160deg,#e8ebee,#b2e7f1,#50c6de, #78dff3); */

    /* rainy */
    /* background: linear-gradient(135deg, #0B3954,#4a7690 ,#696565); */

    /* clear */
    /* background: linear-gradient(135deg, #dccee2, #F5B041); */

    /* cloudy */
    /* background: linear-gradient(160deg,#6e6ecb,#71a7f1,#a7c8f6); */

    /* Mist */
    background: linear-gradient(135deg, #F7CAC9, #92A8D1);

    /* drizzle */
    /* background: linear-gradient(175deg, #f4a65d,#eed4bb, #BBD2C5, #688497, #304352); */


}

.card:hover {
    transform: scale(1.02);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 6px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -5px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -5px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}

.search button img {
    width: 18px;
}

.search button img:hover {
    transition: all 0.3s ease;
    width: 14px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -1px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    font-weight: 500;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

/* social links */
.share {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 5%;
    gap: 1em;
    margin-top: 5%;
}

.share a {
    color: white;
    transition: .4s ease-in-out;
}

.share a:hover {
    color: rgb(48, 134, 246);
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        max-width: 470px;
        margin: 50px auto 0;
        padding: 40px 35px;
        text-align: center;
        border-radius: 50px;
    }

    .search input {
        height: 50px;
        width: 100px;
        font-size: 16px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .weather-icon {
        width: 120px;
        margin-top: 20px;
    }

    .weather h1 {
        font-size: 50px;
    }

    .weather h2 {
        font-size: 30px;
    }

    .col img {
        width: 30px;
    }

    .humidity,
    .wind {
        font-size: 20px;
    }
}